<footer class="site-footer h-card" style="background:#000;color:#fff">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <ul style="list-style:none;display:flex;flex-direction:row;justify-content:space-between;padding:0;">
        <li style="text-align:left">
            Young Pirates of Europe asbl</br>
    1a, rue de Luxembourg</br>
    8184 Kopstal, Luxemburg
        </li>
        <li>
            Socials go here
        </li>
        <li>
            <ul>
                <li>Transparency</li>
                <li><a href="https://cloud.partipirate.org/index.php/s/Y5Y8ZQzFNeJwxBp">Statutes</a></li>
            </ul>
        </li>
    </ul>
    <!-- Uwu -->

  </div>

</footer>
