---
# Only the main Sass file needs front matter (the dashes are enough)
---

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  src: url('./Roboto/Roboto-Thin.woff2');
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  src: url('./Roboto/Roboto-Light.woff2');
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('./Roboto/Roboto-Regular.woff2');
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url('./Roboto/Roboto-Medium.woff2');
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url('./Roboto/Roboto-Bold.woff2');
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  src: url('./Roboto/Roboto-Black.woff2');
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
  src: url('./Roboto/Roboto-ThinItalic.woff2');
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  src: url('./Roboto/Roboto-LightItalic.woff2');
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
  src: url('./Roboto/Roboto-RegularItalic.woff2');
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
  src: url('./Roboto/Roboto-MediumItalic.woff2');
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
  src: url('./Roboto/Roboto-BoldItalic.woff2');
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  src: url('./Roboto/Roboto-BlackItalic.woff2');
}

@font-face {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('./Bebas_Neue/BebasNeue-Regular.woff2');
}

$base-font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

@import "minima";

h1 {
  font-size:300%;
  font-family:"Bebas Neue";
}

.color_box {
  margin:1rem;
  padding:.75rem;
}
.color_box_left {
  float:left;
  margin:1rem;
  padding:.75rem;
}
.right_box {
  max-width:25rem;
  display:inline-block;
  margin:1.5rem;
}

.more_button {
  padding: 0.5rem;
  border-radius:0.5rem;
  color:#eee;
  background:#111;
}

.more_button:visited {
  color:#eee;
}

.more_button:hover {
  color:#eee;
}

.opening_container {
  min-height: 10rem;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding:2rem;
}

.horizontal_list {
  display:flex;
  list-style-position: inside;
}

.horizontal_list li::marker {
  font-size:200%;
  font-weight:900;
}

.horizontal_list li {
  vertical-align: middle;
  flex: 1 1 0px;
  background: #eee;
  border-radius: 1rem;
  padding: .5rem;
  margin: .3rem;
  text-align: center;
}

.social-media-list {
  display:flex;
  justify-content:space-evenly;
  align-items:flex-end;
}

.social-media-list .svg-icon {
  transform: scale(2);
}
